@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.about {
    padding: 100px 30px;
    background-color: #f9f9f9;
    text-align: center;
}

.about-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.small-rectangle-about {
    width: 30px;
    height: 4px;
    background-color: #e91e63;
}

.about-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: default;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.about-image img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 8px;
}

.about-text {
    flex: 1;
}

.about h2 {
    font-size: 2.5em;
    color: #e91e63;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
}

.about-text p {
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.6;
}

.about-subtitle {
    font-size: 1rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.about-socials {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.about-socials a {
    font-size: 1.5rem;
    color: #333333;
    transition: color 0.3s;
}

.about-socials a:hover {
    color: #e91e63;
}

@media (max-width: 1024px) {
    .about-content {
        flex-direction: column;
    }

    .about-content > .about-text {
        order: -1;
    }

    .about-image img {
        width: 100%;
        height: auto;
    }

    .about-text h2 {
        font-size: 2em;
    }

    .about {
        padding: 50px 30px;
    }
    .about-subtitle {
        font-size: 0.8rem;
    }
    .about-header {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .about-text h2 {
        font-size: 2em;
    }
}

@media (max-width: 574px) {
    .about-text h2 {
        font-size: 1.7em;
    }

    .about-subtitle {
        font-size: 0.8rem;
    }

    .about-text {
        text-align: left;
        padding: 20px 0;
    }

    .about-socials {
        gap: 15px;
    }
    .about-header {
        margin: 0;
    }
}