@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.upcoming-events-carousel h2 {
    font-size: 2.5em;
    color: #e91e63;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.embla__button {
    color: #333333;
    border: none;
    background: none;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.embla__button:hover {
    color: #e91e63;
}

.embla__button:disabled {
    opacity: 0.3;
    cursor: default;
    color: #333333;
}

.embla__dot {
    position: relative;
    width: 1rem;
    height: 1rem;
}

.embla__dot:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 0.6rem;
    background-color: #cccccc;
}

.embla__dot--selected:after {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #333333;
}

.embla__slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .embla__button {
        display: none;
    }

    .embla__dot {
        width: 0.8rem;
        height: 0.8rem;
    }

    .embla__dot:after {
        width: 0.4rem;
        height: 0.4rem;
    }

    .embla__dot--selected:after {
        width: 0.6rem;
        height: 0.6rem;
    }
}