@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.private-events-testimonials {
    padding: 100px 30px;
    text-align: center;
}

.testimonials-subtitle {
    font-size: 1em;
    color: #333;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.small-rectangle-testimonials {
    width: 40px;
    height: 4px;
    background-color: #e91e63;
    margin: 0 auto 10px auto;
}

.private-events-testimonials h2 {
    font-size: 2.8em;
    color: #e91e63;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeInUp 1s forwards;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.testimonial-content p {
    margin-bottom: 20px;
    font-size: 1.05em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.testimonial-content span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 600;
    color: #e91e63;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}