
.divider {
    width: 100%;
    margin: 80px auto;
    border: none;
    height: 4px;
    background-image: radial-gradient(circle, #ccc 2px, transparent 2px);
    background-repeat: repeat-x;
    background-size: 13px 4px;
    background-position: center;
}

@media (max-width: 768px) {
    .divider {
        width: 100%;
    }
}