@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.menu {
    padding: 100px 20px;
    text-align: center;
}

.menu h2 {
    font-size: 2.5em;
    color: #e91e63;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item h3 {
    font-size: 1.5em;
    color: #333;
}

.menu-item p {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.menu-item span {
    font-weight: bold;
    color: #e91e63;
}

/* Адаптив */
@media (max-width: 992px) {
    .menu-item {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(100% - 40px);
    }
}
