@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.menu {
    padding: 100px 30px;
}

.menu-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 5px;
}

.menu-image img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menu h2 {
    font-size: 2.5em;
    color: #e91e63;
    margin-bottom: 20px;
}

.menu p {
    font-size: 1em;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.menu-text h2 {
    text-align: left;
}

.menu-text p {
    text-align: left;
}

@media (max-width: 1024px) and (min-width: 575px) {
    .menu {
        padding: 50px 30px;
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-text {
        order: -1;
        text-align: left;
        padding: 20px 0;
    }

    .menu-image {
        order: 1;
    }

    .menu-image img {
        width: 100%;
        height: auto;
    }

    .menu h2 {
        font-size: 2em;
    }

    .menu p {
        font-size: 0.95em;
    }

    .menu-header .about-subtitle {
        font-size: 0.8rem;
    }
}

@media (max-width: 574px) {
    .menu {
        padding: 50px 30px;
    }

    .menu-content {
        flex-direction: column;
    }

    .menu-text {
        order: -1;
        text-align: left;
        padding: 20px 0;
    }

    .menu-image {
        order: 1;
    }

    .menu-image img {
        width: 100%;
        height: auto;
    }

    .menu h2 {
        font-size: 1.7em;
    }

    .menu p {
        font-size: 0.95em;
    }

    .menu-header .about-subtitle {
        font-size: 0.8rem;
    }
}